@model Todo
<h3>Fill up your details</h3>
<form class="w-25" asp-action="Add" method="post" >
    <div class="form-group">
    <label for="id"> ID:</label><br />
    <input class="form-control" id="id" type="number" name="id" /><br />
    <label for="employee"> Employee:</label><br />
    <input class="form-control" id="employee" type="text" name="Employee" /><br />
    <label for="work"> Work:</label><br />
    <input class="form-control" id="work" type="text" name="Work" /><br />
    <label for="description"> Description:</label> <br />
    <input class="bg-transparent" id="description" type="text" name="Description" /><br /><br />
    <label for="datetime"> Duration:</label><br />
    <input class="form-control" id="datetime" type="datetime" name="Duration" /> <br />
    <label for="tel"> Telphone:</label><br />
    <input class="form-control" id="tel" type="tel" name="Telephone" /><br />
    <button class="btn btn-primary">ADD</button>
    </div>
</form>